<?xml version="1.0"?>
<!--
  ~ @author MagePrakash Team
  ~ @copyright Copyright (c) 2020 MagePrakash (http://www.mageprakash.com/)
  ~ @package MagePrakash_ProductAttachment
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="mageprakash_product_attachments" xsi:type="array">
                    <item name="class" xsi:type="string">MagePrakash\ProductAttachment\Model\Product\DataProvider\Form</item>
                    <item name="sortOrder" xsi:type="number">201</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin name="apply_attachment_rules_after_product_save" type="MagePrakash\ProductAttachment\Plugin\Indexer\Product\Save\ApplyRules"/>
    </type>
    <type name="Magento\Catalog\Model\Category">
        <plugin name="apply_attachment_after_products_assign" type="MagePrakash\ProductAttachment\Plugin\Indexer\Category"/>
    </type>
</config>
